<div>
  <div class="header">
    <div class="hederName">
      <div>Name</div>
      <div><input name="userName" type="text" (change)="filterByValue($event,'name')"></div>
    </div>
    <div class="hederName">
      <div>Company Name</div>
      <div><input name="companyName" type="text" (change)="filterByValue($event,'comp')"></div>
    </div>
    <div class="hederName">
      <div>Designation</div>
      <div><input name="Designation" type="text" (change)="filterByValue($event,'desi')"></div>
    </div>
  </div>
  <div class="body">
    <div class="bodyRows" *ngFor="let item of searchData">
      <div class="bodyRow">
        <div class="nameClm">{{item.name}}</div>
        <div class="nameClm">{{item.email}}</div>
      </div>
      <div class="bodyRow">{{item.company.name}}</div>
      <div class="bodyRow">{{item.company.designation}}</div>
    </div>
  </div>
</div>

